<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Listing estados</h1>
  </div>

<!-- 
  table-striped
  table-hover
-->
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Descripcion</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @estados.each do |estado| %>
        <tr>
          <td><%= estado.descripcion %></td>
          <td><%= link_to 'Show', estado %></td>
          <td><%= link_to 'Edit', edit_estado_path(estado) %></td>
          <td><%= link_to 'Destroy', estado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>

<div class="panel-footer">
  <%= link_to 'New Estado', new_estado_path %>
</div>
